@font-face {
	font-family: "f1-boldest";
	src: url(fonts/Formula1_boldest.ttf);
}
@font-face {
	font-family: "f1-bold";
	src: url(fonts/Formula1_Bold.ttf);
}
@font-face {
	font-family: "f1-regular";
	src: url(fonts/Formula1_Regular.ttf);
}
body {
	font-family: "f1-regular";
	margin: 0;
	padding: 0;
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url(img/other/background.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
#container {
	display: flex;
	justify-content: space-between;
}
#team-choice {
	margin: 0 auto;
	width: 90%;
}
#drivers-choice {
	margin: 0 auto;
	display: none;
	width: 90%;
}
#drivers-choice-ol,
#team-choice-ol {
	padding: 0;
	margin-bottom: 30px;
}
#drivers-choice-ol li,
#team-choice-ol li {
	display: none;
}
#drivers-choice-ol button,
#team-choice-ol button {
	border: none;
	background-color: inherit;
}
.arrow-img {
	width: 40%;
	cursor: pointer;
}
#drivers-choice-ol li div,
#team-choice-ol li div {
	padding: 30px;
	border-radius: 10px;
	border: 5px solid white;
	background-color: white;
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
}
#drivers-choice-ol li div img {
	margin: 0 auto;
	margin-bottom: 20px;
}
.active {
	display: flex !important;
	align-items: center;
	justify-content: center;
}
#upgrade {
	display: none;
}
#next-race {
	display: none;
}
.team-img {
	display: block;
	margin: 0 auto;
	width: 70%;
}
.margin {
	margin-top: 10px;
}
.driver-img {
	width: 80%;
}
.driver-result-img {
	width: 60px;
}
.team-result-img {
	width: 12%;
}
.confirm-button {
	width: 30%;
	display: block;
	margin: 0 auto;
}

#wrapper {
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

#display {
	margin: 0;
}

.dontdisplay {
	display: none !important;
}

#f1logo {
	display: block;
	margin: 0 auto;
}

#indexh1 {
	text-align: center;
	color: white;
}

#indexh2 {
	text-align: center;
	color: white;
}

button {
	font-family: "f1-regular";
	font-weight: bold;
	color: white;
	background-color: rgb(60, 60, 60);
	display: block;
	margin: 0 auto;
	height: 50px;
	width: 160px;
	border: 5px red solid;
	border-radius: 10px;
	cursor: pointer;
}

h1 {
	color: white;
}

li {
	color: black;
}

ol {
	border: 5px red solid;
	border-radius: 10px;
	background-color: white;
	color: black;
}
ol li {
	margin: 15px 0;
}

ol img {
	margin: 0;
	margin-right: 5px;
	margin-left: 5px;
	width: 40px;
}
#constructor-standing-ol li {
	display: flex;
	align-items: center;
}
