#drivers-choice {
	display: none;
}
#next-race {
	display: none;
}
#upgrade {
	display: none;
}
div {
	margin: 50px;
	float: left;
}
.team-img {
	width: 5%;
}
.margin {
	margin-top: 10px;
}
.driver-img {
	width: 10%;
}
